@import "tailwindcss";

:root {
  --bg-main: #ffffff;
  --text-main: #1a1a1a;
  --border-main: #ddd;
  --btn-color: #3b82f6;
  --input-bg: #f9f9f9;
  --input-text: #111;
}

.dark {
  --bg-main: #1a1a1a;
  --text-main: #f5f5f5;
  --border-main: #333;
  --btn-color: #f87171;
  --input-bg: #2c2c2c;
  --input-text: #eee;
}

@theme inline {
  --background: var(--bg-main);
  --foreground: var(--text-main);
  --border: var(--border-main);
  --button: var(--btn-color);
  --input-background: var(--input-bg);
  --input-text: var(--input-text);
  --font-geist-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-geist-mono: 'Courier New', Courier, monospace;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@layer components {
  main {
    @apply w-full min-h-screen md:flex md:flex-col md:items-center;
  }
}
